In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
alquiler_venta = pd.read_csv(r'C:\Users\funny\Desktop\Bootcamp\mesa_trabajo_core\repo_sept_23\proyectos\EDA\notebooks\alquiler_venta',index_col='Unnamed: 0')
metros_cuadrados= pd.read_csv(r'C:\Users\funny\Desktop\Bootcamp\mesa_trabajo_core\repo_sept_23\proyectos\EDA\notebooks\metros_cuadrados', index_col='Unnamed: 0')

In [3]:

alquiler_venta['Distrito'] = alquiler_venta['Distrito'].str.lower()
alquiler_venta =alquiler_venta.rename(columns = {'Distrito':'distrito'})
alquiler_venta.sort_values(by='distrito', inplace=True)
alquiler_venta

            distrito  venta €/m2  alquiler €/m2
0            algiros        2294           11.9
1          benicalap        1826            9.6
2         benimaclet        2081            9.4
3     camins al grau        2232           12.6
4           campanar        2597           12.5
5       ciutat vella        3161           15.7
6    el pla del real        2863           12.4
7          extramurs        2567           11.4
8              jesus        1720           10.0
9         l'eixample        3397           14.3
10       l'olivereta        1647           10.4
11         la saidia        1951           11.2
12           patraix        1822           10.0
13  poblats maritims        2057           12.9
14   quatre carreres        2228           12.1
15          rascanya        1553           10.5

In [4]:
metros_cuadrados.sort_values(by='distrito', inplace=True)

metros_cuadrados

            distrito  metros2
7            algiros    121.9
2          benicalap    130.8
15        benimaclet     87.7
3     camins al grau    129.3
9           campanar    119.1
4       ciutat vella    127.6
14   el pla del real    104.4
0          extramurs    137.5
5              jesus    124.9
6         l'eixample    123.8
12       l'olivereta    114.2
13         la saidia    111.1
1            patraix    131.7
11  poblats maritims    115.3
10   quatre carreres    118.4
8           rascanya    121.6

In [5]:
alquiler_venta_f = pd.merge(alquiler_venta, metros_cuadrados)

alquiler_venta_f

            distrito  venta €/m2  alquiler €/m2  metros2
0            algiros        2294           11.9    121.9
1          benicalap        1826            9.6    130.8
2         benimaclet        2081            9.4     87.7
3     camins al grau        2232           12.6    129.3
4           campanar        2597           12.5    119.1
5       ciutat vella        3161           15.7    127.6
6    el pla del real        2863           12.4    104.4
7          extramurs        2567           11.4    137.5
8              jesus        1720           10.0    124.9
9         l'eixample        3397           14.3    123.8
10       l'olivereta        1647           10.4    114.2
11         la saidia        1951           11.2    111.1
12           patraix        1822           10.0    131.7
13  poblats maritims        2057           12.9    115.3
14   quatre carreres        2228           12.1    118.4
15          rascanya        1553           10.5    121.6

In [6]:
alquiler_venta_f['precio venta'] = alquiler_venta_f['venta €/m2'] * alquiler_venta_f['metros2']
alquiler_venta_f['precio alquiler'] = alquiler_venta_f['alquiler €/m2'] * alquiler_venta_f['metros2']
alquiler_venta_f

,distrito,venta €/m2,alquiler €/m2,metros2,precio venta,precio alquiler
0,algiros,2294,11.9,121.9,279638.6,1450.61
1,benicalap,1826,9.6,130.8,238840.8,1255.68
2,benimaclet,2081,9.4,87.7,182503.7,824.38
3,camins al grau,2232,12.6,129.3,288597.6,1629.18
4,campanar,2597,12.5,119.1,309302.7,1488.75
5,ciutat vella,3161,15.7,127.6,403343.6,2003.32
6,el pla del real,2863,12.4,104.4,298897.2,1294.56
7,extramurs,2567,11.4,137.5,352962.5,1567.50
8,jesus,1720,10.0,124.9,214828.0,1249.00
9,l'eixample,3397,14.3,123.8,420548.6,1770.34
10,l'olivereta,1647,10.4,114.2,188087.4,1187.68
11,la saidia,1951,11.2,111.1,216756.1,1244.32
12,patraix,1822,10.0,131.7,239957.4,1317.00
13,poblats maritims,2057,12.9,115.3,237172.1,1487.37
14,quatre carreres,2228,12.1,118.4,263795.2,1432.64
15,rascanya,1553,10.5,121.6,188844.8,1276.80

In [7]:
alquiler_venta_f.to_csv('alquiler_venta_f')

In [8]:
airbnb = pd.read_csv(r'C:\Users\funny\Desktop\Bootcamp\mesa_trabajo_core\repo_sept_23\proyectos\EDA\notebooks\airbnb_final',index_col='Unnamed: 0')
airbnb

,distrito,barrio,lat,long,tipo alojamiento,precio/noche,noches_min,precio final
0,algiros,l'illa perduda,39.471790,-0.340790,entire home/apt,110,3,330
1,algiros,la vega baixa,39.476150,-0.349900,entire home/apt,221,2,442
2,algiros,ciutat jardi,39.475033,-0.347180,entire home/apt,98,3,294
3,algiros,la carrasca,39.472650,-0.339060,entire home/apt,79,5,395
4,algiros,ciutat jardi,39.470890,-0.345480,entire home/apt,96,3,288
...,...,...,...,...,...,...,...,...
5433,rascanya,els orriols,39.493481,-0.371178,entire home/apt,121,1,121
5434,rascanya,torrefiel,39.490772,-0.380960,entire home/apt,69,1,69
5435,rascanya,els orriols,39.491781,-0.369743,entire home/apt,110,1,110
5436,rascanya,torrefiel,39.493264,-0.375844,entire home/apt,52,3,156
5437,rascanya,sant llorens,39.494820,-0.367980,entire home/apt,80,2,160

In [9]:
airbnb_pf = pd.DataFrame(airbnb.groupby('distrito')['precio final'].mean().reset_index())
airbnb_pf.to_csv('airbnb_pf')
airbnb_pf

            distrito  precio final
0            algiros    561.142077
1          benicalap    315.057471
2         benimaclet    572.518987
3     camins al grau    564.656455
4           campanar    675.295775
5       ciutat vella    446.178082
6    el pla del real    519.728155
7          extramurs    467.710359
8              jesus    334.393162
9         l'eixample    588.106061
10       l'olivereta    505.640000
11         la saidia    447.522523
12           patraix    581.637500
13  poblats maritims    448.793970
14   quatre carreres    521.938776
15          rascanya    457.534884

In [10]:
airbnb_pn = pd.DataFrame(airbnb.groupby('distrito')['precio/noche'].mean().reset_index())
airbnb_pn.to_csv('airbnb_pn')
airbnb_pn

            distrito  precio/noche
0            algiros    127.874317
1          benicalap    102.011494
2         benimaclet    120.481013
3     camins al grau    131.989059
4           campanar    124.619718
5       ciutat vella    144.933118
6    el pla del real    142.737864
7          extramurs    127.621564
8              jesus    114.555556
9         l'eixample    145.865530
10       l'olivereta    126.640000
11         la saidia    133.234234
12           patraix    118.300000
13  poblats maritims    137.063652
14   quatre carreres    123.663265
15          rascanya    115.744186

In [11]:
airbnb_nm = pd.DataFrame(airbnb.groupby('distrito')['noches_min'].mean().reset_index())
airbnb_nm.to_csv('airbnb_noches')
airbnb_nm

            distrito  noches_min
0            algiros    4.404372
1          benicalap    3.459770
2         benimaclet    4.974684
3     camins al grau    5.249453
4           campanar    6.380282
5       ciutat vella    3.515713
6    el pla del real    3.776699
7          extramurs    4.088795
8              jesus    3.367521
9         l'eixample    4.823864
10       l'olivereta    4.760000
11         la saidia    3.765766
12           patraix    5.137500
13  poblats maritims    3.677554
14   quatre carreres    5.267857
15          rascanya    4.581395

In [ ]:
# Establecer el estilo de Seaborn
sns.set(style="whitegrid")

# Tamaño de la figura
plt.figure(figsize=(12, 8))

# Utilizar una paleta de colores predefinida de Seaborn (Set2)
barplot = sns.barplot(data=airbnb_nm, x='distrito', y='noches_min', palette="Set2")

# Rotar los títulos de los distritos en el eje X
plt.xticks(rotation=45)

# Añadir título y etiquetas de ejes
plt.title('Noches minimas ')
plt.xlabel('Distrito')
plt.ylabel('Superficie m2')

# Añadir separadores de miles en el eje Y (si es necesario)
barplot.get_yaxis().set_major_formatter(FuncFormatter(lambda x, loc: "{:,}".format(int(x))))

# Mostrar la trama
plt.show()

In [12]:
todo = pd.merge(alquiler_venta_f,airbnb)
todo

,distrito,venta €/m2,alquiler €/m2,metros2,precio venta,precio alquiler,barrio,lat,long,tipo alojamiento,precio/noche,noches_min,precio final
0,algiros,2294,11.9,121.9,279638.6,1450.61,l'illa perduda,39.471790,-0.340790,entire home/apt,110,3,330
1,algiros,2294,11.9,121.9,279638.6,1450.61,la vega baixa,39.476150,-0.349900,entire home/apt,221,2,442
2,algiros,2294,11.9,121.9,279638.6,1450.61,ciutat jardi,39.475033,-0.347180,entire home/apt,98,3,294
3,algiros,2294,11.9,121.9,279638.6,1450.61,la carrasca,39.472650,-0.339060,entire home/apt,79,5,395
4,algiros,2294,11.9,121.9,279638.6,1450.61,ciutat jardi,39.470890,-0.345480,entire home/apt,96,3,288
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5433,rascanya,1553,10.5,121.6,188844.8,1276.80,els orriols,39.493481,-0.371178,entire home/apt,121,1,121
5434,rascanya,1553,10.5,121.6,188844.8,1276.80,torrefiel,39.490772,-0.380960,entire home/apt,69,1,69
5435,rascanya,1553,10.5,121.6,188844.8,1276.80,els orriols,39.491781,-0.369743,entire home/apt,110,1,110
5436,rascanya,1553,10.5,121.6,188844.8,1276.80,torrefiel,39.493264,-0.375844,entire home/apt,52,3,156
5437,rascanya,1553,10.5,121.6,188844.8,1276.80,sant llorens,39.494820,-0.367980,entire home/apt,80,2,160

In [13]:
medias1 = pd.merge(airbnb_pf,airbnb_pn)
medias = pd.merge(medias1,alquiler_venta_f)
medias

,distrito,precio final,precio/noche,venta €/m2,alquiler €/m2,metros2,precio venta,precio alquiler
0,algiros,561.142077,127.874317,2294,11.9,121.9,279638.6,1450.61
1,benicalap,315.057471,102.011494,1826,9.6,130.8,238840.8,1255.68
2,benimaclet,572.518987,120.481013,2081,9.4,87.7,182503.7,824.38
3,camins al grau,564.656455,131.989059,2232,12.6,129.3,288597.6,1629.18
4,campanar,675.295775,124.619718,2597,12.5,119.1,309302.7,1488.75
5,ciutat vella,446.178082,144.933118,3161,15.7,127.6,403343.6,2003.32
6,el pla del real,519.728155,142.737864,2863,12.4,104.4,298897.2,1294.56
7,extramurs,467.710359,127.621564,2567,11.4,137.5,352962.5,1567.50
8,jesus,334.393162,114.555556,1720,10.0,124.9,214828.0,1249.00
9,l'eixample,588.106061,145.865530,3397,14.3,123.8,420548.6,1770.34
10,l'olivereta,505.640000,126.640000,1647,10.4,114.2,188087.4,1187.68
11,la saidia,447.522523,133.234234,1951,11.2,111.1,216756.1,1244.32
12,patraix,581.637500,118.300000,1822,10.0,131.7,239957.4,1317.00
13,poblats maritims,448.793970,137.063652,2057,12.9,115.3,237172.1,1487.37
14,quatre carreres,521.938776,123.663265,2228,12.1,118.4,263795.2,1432.64
15,rascanya,457.534884,115.744186,1553,10.5,121.6,188844.8,1276.80

In [14]:
ocupación_media = 0.47
ocupacion_mes = 30*ocupación_media
medias['facturacion airbnb/mes'] = medias.loc[:,'precio/noche'] * ocupacion_mes
medias

,distrito,precio final,precio/noche,venta €/m2,alquiler €/m2,metros2,precio venta,precio alquiler,facturacion airbnb/mes
0,algiros,561.142077,127.874317,2294,11.9,121.9,279638.6,1450.61,1803.027869
1,benicalap,315.057471,102.011494,1826,9.6,130.8,238840.8,1255.68,1438.362069
2,benimaclet,572.518987,120.481013,2081,9.4,87.7,182503.7,824.38,1698.782278
3,camins al grau,564.656455,131.989059,2232,12.6,129.3,288597.6,1629.18,1861.045733
4,campanar,675.295775,124.619718,2597,12.5,119.1,309302.7,1488.75,1757.138028
5,ciutat vella,446.178082,144.933118,3161,15.7,127.6,403343.6,2003.32,2043.556970
6,el pla del real,519.728155,142.737864,2863,12.4,104.4,298897.2,1294.56,2012.603883
7,extramurs,467.710359,127.621564,2567,11.4,137.5,352962.5,1567.50,1799.464059
8,jesus,334.393162,114.555556,1720,10.0,124.9,214828.0,1249.00,1615.233333
9,l'eixample,588.106061,145.865530,3397,14.3,123.8,420548.6,1770.34,2056.703977
10,l'olivereta,505.640000,126.640000,1647,10.4,114.2,188087.4,1187.68,1785.624000
11,la saidia,447.522523,133.234234,1951,11.2,111.1,216756.1,1244.32,1878.602703
12,patraix,581.637500,118.300000,1822,10.0,131.7,239957.4,1317.00,1668.030000
13,poblats maritims,448.793970,137.063652,2057,12.9,115.3,237172.1,1487.37,1932.597487
14,quatre carreres,521.938776,123.663265,2228,12.1,118.4,263795.2,1432.64,1743.652041
15,rascanya,457.534884,115.744186,1553,10.5,121.6,188844.8,1276.80,1631.993023

In [15]:
medias['balance'] = medias.loc[:,'facturacion airbnb/mes'] - medias.loc[:,'precio alquiler']
medias

,distrito,precio final,precio/noche,venta €/m2,alquiler €/m2,metros2,precio venta,precio alquiler,facturacion airbnb/mes,balance
0,algiros,561.142077,127.874317,2294,11.9,121.9,279638.6,1450.61,1803.027869,352.417869
1,benicalap,315.057471,102.011494,1826,9.6,130.8,238840.8,1255.68,1438.362069,182.682069
2,benimaclet,572.518987,120.481013,2081,9.4,87.7,182503.7,824.38,1698.782278,874.402278
3,camins al grau,564.656455,131.989059,2232,12.6,129.3,288597.6,1629.18,1861.045733,231.865733
4,campanar,675.295775,124.619718,2597,12.5,119.1,309302.7,1488.75,1757.138028,268.388028
5,ciutat vella,446.178082,144.933118,3161,15.7,127.6,403343.6,2003.32,2043.556970,40.236970
6,el pla del real,519.728155,142.737864,2863,12.4,104.4,298897.2,1294.56,2012.603883,718.043883
7,extramurs,467.710359,127.621564,2567,11.4,137.5,352962.5,1567.50,1799.464059,231.964059
8,jesus,334.393162,114.555556,1720,10.0,124.9,214828.0,1249.00,1615.233333,366.233333
9,l'eixample,588.106061,145.865530,3397,14.3,123.8,420548.6,1770.34,2056.703977,286.363977
10,l'olivereta,505.640000,126.640000,1647,10.4,114.2,188087.4,1187.68,1785.624000,597.944000
11,la saidia,447.522523,133.234234,1951,11.2,111.1,216756.1,1244.32,1878.602703,634.282703
12,patraix,581.637500,118.300000,1822,10.0,131.7,239957.4,1317.00,1668.030000,351.030000
13,poblats maritims,448.793970,137.063652,2057,12.9,115.3,237172.1,1487.37,1932.597487,445.227487
14,quatre carreres,521.938776,123.663265,2228,12.1,118.4,263795.2,1432.64,1743.652041,311.012041
15,rascanya,457.534884,115.744186,1553,10.5,121.6,188844.8,1276.80,1631.993023,355.193023

In [16]:
balance = medias.loc[:,['distrito','balance']]
balance.to_csv('balance')
balance

            distrito     balance
0            algiros  352.417869
1          benicalap  182.682069
2         benimaclet  874.402278
3     camins al grau  231.865733
4           campanar  268.388028
5       ciutat vella   40.236970
6    el pla del real  718.043883
7          extramurs  231.964059
8              jesus  366.233333
9         l'eixample  286.363977
10       l'olivereta  597.944000
11         la saidia  634.282703
12           patraix  351.030000
13  poblats maritims  445.227487
14   quatre carreres  311.012041
15          rascanya  355.193023